body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.rolldice{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 6px;
    transition: background-color, 0.25s;
}
.rolldice:hover{
    background-color: steelblue;
    color: white;
}

.label{
    font-size: 3em;
}
